<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>上传文件设置</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link th:href="@{/resources/css/jquery-ui-themes.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/resources/css/axure_rp_page.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/data/styles.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/files/上传文件设置/styles.css}" type="text/css" rel="stylesheet"/>
    <script th:src="@{/resources/scripts/jquery-1.7.1.min.js}"></script>
    <script th:src="@{/resources/scripts/jquery-ui-1.8.10.custom.min.js}"></script>
    <script th:src="@{/resources/scripts/prototype/axQuery.js}"></script>
    <script th:src="@{/resources/scripts/prototype/globals.js}"></script>
    <script th:src="@{/resources/scripts/axutils.js}"></script>
    <script th:src="@{/resources/scripts/prototype/annotation.js}"></script>
    <script th:src="@{/resources/scripts/prototype/axQuery.std.js}"></script>
    <script th:src="@{/resources/scripts/prototype/doc.js}"></script>
    <script th:src="@{/data/document.js}"></script>
    <script th:src="@{/resources/scripts/messagecenter.js}"></script>
    <script th:src="@{/resources/scripts/prototype/events.js}"></script>
    <script th:src="@{/resources/scripts/prototype/action.js}"></script>
    <script th:src="@{/resources/scripts/prototype/expr.js}"></script>
    <script th:src="@{/resources/scripts/prototype/geometry.js}"></script>
    <script th:src="@{/resources/scripts/prototype/flyout.js}"></script>
    <script th:src="@{/resources/scripts/prototype/ie.js}"></script>
    <script th:src="@{/resources/scripts/prototype/model.js}"></script>
    <script th:src="@{/resources/scripts/prototype/repeater.js}"></script>
    <script th:src="@{/resources/scripts/prototype/sto.js}"></script>
    <script th:src="@{/resources/scripts/prototype/utils.temp.js}"></script>
    <script th:src="@{/resources/scripts/prototype/variables.js}"></script>
    <script th:src="@{/resources/scripts/prototype/drag.js}"></script>
    <script th:src="@{/resources/scripts/prototype/move.js}"></script>
    <script th:src="@{/resources/scripts/prototype/visibility.js}"></script>
    <script th:src="@{/resources/scripts/prototype/style.js}"></script>
    <script th:src="@{/resources/scripts/prototype/adaptive.js}"></script>
    <script th:src="@{/resources/scripts/prototype/tree.js}"></script>
    <script th:src="@{/resources/scripts/prototype/init.temp.js}"></script>
    <script th:src="@{/files/上传文件设置/data.js}"></script>
    <script th:src="@{/resources/scripts/prototype/legacy.js}"></script>
    <script th:src="@{/resources/scripts/prototype/viewer.js}"></script>
  </head>
  <body>

    <!-- Unnamed (形状) -->
    <div id="u0" class="ax_文本">
      <img id="u0_img" class="img " th:src="@{/resources/images/transparent.gif}"/>
      <!-- Unnamed () -->
      <div id="u1" class="text">
        <p><span style="font-family:'Applied Font Regular', 'Applied Font';">系统设置</span><span style="font-family:'Applied Font Regular', 'Applied Font';">&gt;</span><span style="font-family:'Applied Font Regular', 'Applied Font';"> 上传文件设置</span><span style="font-family:'Applied Font Regular', 'Applied Font';"></span></p>
      </div>
    </div>

    <!-- Unnamed (图片) -->
    <div id="u2" class="ax_图片">
      <img id="u2_img" class="img " th:src="@{/images/常用网址/u89.png}"/>
      <!-- Unnamed () -->
      <div id="u3" class="text"></div>
    </div>

    <!-- Unnamed (形状) -->
    <div id="u4" class="ax_形状">
      <img id="u4_img" class="img " th:src="@{/images/上传文件设置/u4.png}"/>
      <!-- Unnamed () -->
      <div id="u5" class="text"></div>
    </div>

    <!-- Unnamed (形状) -->
    <div id="u6" class="ax_文本">
      <img id="u6_img" class="img " th:src="@{/resources/images/transparent.gif}"/>
      <!-- Unnamed () -->
      <div id="u7" class="text"></div>
    </div>

    <!-- Unnamed (形状) -->
    <div id="u8" class="ax_文本">
      <img id="u8_img" class="img " th:src="@{/resources/images/transparent.gif}"/>
      <!-- Unnamed () -->
      <div id="u9" class="text">
        <p><span style="font-family:'Applied Font Regular', 'Applied Font';">文件上传</span><span style="font-family:'Applied Font Regular', 'Applied Font';">最大值（M）</span><span style="font-family:'Applied Font Regular', 'Applied Font';">：</span></p>
      </div>
    </div>

    <!-- Unnamed (形状) -->
    <div id="u10" class="ax_文本">
      <img id="u10_img" class="img " th:src="@{/resources/images/transparent.gif}"/>
      <!-- Unnamed () -->
      <div id="u11" class="text">
        <p><span style="font-family:'Applied Font Regular', 'Applied Font';">文件上传格式：</span></p>
      </div>
    </div>

    <!-- Unnamed (文本框(单行)) -->
    <div id="u12" class="ax_文本框_单行_">
      <input id="u12_input" type="text" value="" class="text_sketch"/>
    </div>

    <!-- Unnamed (HTML Button) -->
    <div id="u13" class="ax_html_button">
      <input id="u13_input" type="submit" value="保存" class="text_sketch"/>
    </div>

    <!-- Unnamed (复选框) -->
    <div id="u14" class="ax_复选框">
      <label for="u14_input">
        <!-- Unnamed () -->
        <div id="u15" class="text">
          <p><span style="font-family:'Applied Font Regular', 'Applied Font';">doc</span></p>
        </div>
      </label>
      <input id="u14_input" type="checkbox" value="checkbox"/>
    </div>

    <!-- Unnamed (复选框) -->
    <div id="u16" class="ax_复选框">
      <label for="u16_input">
        <!-- Unnamed () -->
        <div id="u17" class="text">
          <p><span style="font-family:'Applied Font Regular', 'Applied Font';">docx</span></p>
        </div>
      </label>
      <input id="u16_input" type="checkbox" value="checkbox"/>
    </div>

    <!-- Unnamed (复选框) -->
    <div id="u18" class="ax_复选框">
      <label for="u18_input">
        <!-- Unnamed () -->
        <div id="u19" class="text">
          <p><span style="font-family:'Applied Font Regular', 'Applied Font';">xls</span></p>
        </div>
      </label>
      <input id="u18_input" type="checkbox" value="checkbox"/>
    </div>

    <!-- Unnamed (复选框) -->
    <div id="u20" class="ax_复选框">
      <label for="u20_input">
        <!-- Unnamed () -->
        <div id="u21" class="text">
          <p><span style="font-family:'Applied Font Regular', 'Applied Font';">xlsx</span></p>
        </div>
      </label>
      <input id="u20_input" type="checkbox" value="checkbox"/>
    </div>

    <!-- Unnamed (复选框) -->
    <div id="u22" class="ax_复选框">
      <label for="u22_input">
        <!-- Unnamed () -->
        <div id="u23" class="text">
          <p><span style="font-family:'Applied Font Regular', 'Applied Font';">ppt</span></p>
        </div>
      </label>
      <input id="u22_input" type="checkbox" value="checkbox"/>
    </div>

    <!-- Unnamed (复选框) -->
    <div id="u24" class="ax_复选框">
      <label for="u24_input">
        <!-- Unnamed () -->
        <div id="u25" class="text">
          <p><span style="font-family:'Applied Font Regular', 'Applied Font';">rar</span></p>
        </div>
      </label>
      <input id="u24_input" type="checkbox" value="checkbox"/>
    </div>

    <!-- Unnamed (复选框) -->
    <div id="u26" class="ax_复选框">
      <label for="u26_input">
        <!-- Unnamed () -->
        <div id="u27" class="text">
          <p><span style="font-family:'Applied Font Regular', 'Applied Font';">pdf</span></p>
        </div>
      </label>
      <input id="u26_input" type="checkbox" value="checkbox"/>
    </div>

    <!-- Unnamed (复选框) -->
    <div id="u28" class="ax_复选框">
      <label for="u28_input">
        <!-- Unnamed () -->
        <div id="u29" class="text">
          <p><span style="font-family:'Applied Font Regular', 'Applied Font';">txt</span></p>
        </div>
      </label>
      <input id="u28_input" type="checkbox" value="checkbox"/>
    </div>
  </body>
</html>
